@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Lato&family=Montserrat&display=swap");

* {
  font-family: "Bacasime", cursive;
}
:root {
  --primery-color: rgba(48, 75, 180, 0.897);
  --width-break: 100px;
}
body {
  margin: 0;
}

img {
  width: 250px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
}

.nav {
  text-align: center;
  background-color: var(--primery-color);
  padding: 2rem;
  font-size: large;
}
#input {
  border-radius: 1rem;
  border: 1px solid rgb(19, 45, 209);
  width: 600px;
  padding: 2rem;
  margin-top: 2rem;
  box-sizing: border-box;
}
#button {
  padding: 1rem 4rem;
  margin-top: 1rem;
  font-size: large;
  border: none;

  background-color: var(--primery-color);
}
.btn {
  text-align: center;
}

#output {
  overflow: scroll;

  box-sizing: border-box;
  padding: 2rem 1rem;
  font-family: "Bacasime", cursive;
  font-size: medium;
  border: 1px solid rgb(19, 12, 214);
  margin-bottom: 2rem;
}

main {
  margin: auto;
  width: 600px;
  /* /* max-width: max-content; */
}

footer {
  background-color: var(--primery-color);
  padding: 2rem;
  text-align: center;
}
